/* .Tittle-Cart {
margin-top: 50px;
margin-bottom: 30px;
}
.Tittle-Cart h2 {
    
    margin-bottom: 8px;
    }

.Cart-list {
   display: flex;
    row-gap: 10px;
    overflow-x: scroll;
}


.img{
width: 240px;
    border-radius: 4px;
    cursor: pointer;
}

.card {
position: relative;

}

.card p{
    position:absolute;
    bottom: 5px;
    right:10px
    
    } */

    .Tittle-Cart {
               overflow: hidden;
      }
      
      .Tittle-Cart h2 {
        font-size: 25px;
        margin-bottom: 20px;
        margin-top: 10px;
        font-weight: 600;
      }
      
      .card {
        outline: none;
        position: relative;
        margin: 20px 0px;
       
      }
      
      .img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        padding: 0px 2px;
      }
      
      .overlay {
        
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding:  4px;
        text-align: center;
        border-radius: 0 0 10px 10px;
      }
      
      .slick-prev:before,
      .slick-next:before {
        color: black;
      }
      