.tittlecards {
  margin-top: 50px;
  margin-bottom: 30px;
}

.tittlecards h2 {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 600;

}

.card-list {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}

.card-list::-webkit-scrollbar{
display: none;
}

.card {
  position: relative;
   flex: 0 0 auto; 
  /* Ensures the card does not grow or shrink  */
  width: 240px;   /* Sets a fixed width for the card */
}

.card img {
  width: 100%;   /* Ensures the image takes up the full width of the card */
  border-radius: 4px;
  cursor: pointer;
} 

.card p {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
  color: white;
}


@media(max-width:800px){

.tittlecards{
  margin-top:20px ;
  margin-bottom: 0 ;
}


.tittlecards h2{
font-size: 20px;
}
.card img{
  width: 200px;
}

.card p{
  font-size: 12px;
  bottom: 5px;
  right: 55px;
 
}

}



@media(max-width:500px){

  
  .tittlecards h2{
  font-size: 15px;
  }
   .card img{
    width: 165px;
  } 
  .card p{
   font-size: 10px;
     bottom: 5px;
     right: 105px;
    
  
  }

}